[Unit]
Description = Back up the PostgresSQL database `%i`
Requires = postgresql.service
After = postgresql.service

[Service]
User = {{ item.username }}
Group = {{ item.username }}
WorkingDirectory = {{ item.backup_dir }}
ExecStart = /usr/bin/bash -c "/usr/bin/pg_dump --compress=9 --format=c --file=%i_$(TZ=UTC date +%%Y%%m%%d-%%H%%M%%S).pgc %i"
ExecStartPost = /usr/bin/python3 /usr/local/bin/rotate.py --no-dry-run --keep 30 --dir {{ item.backup_dir }}
