email = dev@xsnippet.org
quiet = true
agree-tos = true
max-log-backups = 0

dns-digitalocean = true
dns-digitalocean-credentials = /home/xsnippet/.config/letsencrypt/dns-digitalocean-credentials.ini

config-dir = /home/xsnippet/.config/letsencrypt
work-dir = /home/xsnippet/.local/share/letsencrypt
logs-dir = /home/xsnippet/.local/share/letsencrypt_logs
