apiVersion: v1
kind: Pod
metadata:
  name: xsnippet
spec:
  containers:
    - name: db
      image: "{{ xsnippet_db_image }}"
      env:
        - name: POSTGRES_DB
          value: "{{ xsnippet_db_name }}"
        - name: POSTGRES_USER
          value: "{{ xsnippet_db_user }}"
        - name: POSTGRES_PASSWORD
          value: "{{ xsnippet_db_password }}"
      volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: database-state
    - name: api
      image: "{{ xsnippet_api_image }}"
      env:
        - name: ROCKET_HOST
          value: "{{ xsnippet_host|default('0.0.0.0') }}"
        - name: ROCKET_PORT
          value: "{{ xsnippet_port|default('8000') }}"
        - name: ROCKET_DATABASE_URL
          value: "{{ xsnippet_database_url }}"
        - name: ROCKET_SYNTAXES
          value: '{{ xsnippet_syntaxes|to_json }}'
    - name: web
      image: "{{ xsnippet_web_image }}"
      volumeMounts:
        - mountPath: /www/data
          name: spa-assets
          readOnly: true
        - mountPath: /etc/nginx/conf.d
          name: nginx-conf.d
          readOnly: true
        - mountPath: /etc/nginx/nginx.conf
          name: nginx-conf
          readOnly: true
{% if xsnippet_api_https %}
        - mountPath: /etc/nginx/xsnippet_api_ssl.cert
          name: api-ssl-cert
          readOnly: true
        - mountPath: /etc/nginx/xsnippet_api_ssl.key
          name: api-ssl-key
          readOnly: true
{% endif %}
{% if xsnippet_spa_https %}
        - mountPath: /etc/nginx/xsnippet_spa_ssl.cert
          name: spa-ssl-cert
          readOnly: true
        - mountPath: /etc/nginx/xsnippet_spa_ssl.key
          name: spa-ssl-key
          readOnly: true
{% endif %}
      ports:
        - containerPort: 80
          hostPort: {{ xsnippet_proxy_http_port|default('8080') }}
          protocol: TCP
{% if xsnippet_api_https or xsnippet_spa_https %}
        - containerPort: 443
          hostPort: {{ xsnippet_proxy_https_port|default('8443') }}
          protocol: TCP
{% endif %}
  volumes:
    - name: database-state
      hostPath:
        path: /home/xsnippet/data/db
        type: Directory
    - name: spa-assets
      hostPath:
        path: /home/xsnippet/xsnippet-web
        type: Directory
    - name: nginx-conf.d
      hostPath:
        path: /home/xsnippet/nginx-conf.d
        type: Directory
    - name: nginx-conf
      hostPath:
        path: /home/xsnippet/nginx.conf
        type: File
{% if xsnippet_api_https %}
    - name: api-ssl-cert
      hostPath:
        path: "{{ xsnippet_api_ssl_cert_file }}"
        type: File
    - name: api-ssl-key
      hostPath:
        path: "{{ xsnippet_api_ssl_key_file }}"
        type: File
{% endif %}
{% if xsnippet_spa_https %}
    - name: spa-ssl-cert
      hostPath:
        path: "{{ xsnippet_spa_ssl_cert_file }}"
        type: File
    - name: spa-ssl-key
      hostPath:
        path: "{{ xsnippet_spa_ssl_key_file }}"
        type: File
{% endif %}
