function get_raw_snippet(request) {
    var regex = /^\/([A-Za-z0-9]+)\/raw\/?$/;
    var match = request.uri.match(regex);
    if (!match) {
        request.warn('Invalid raw snippet url: ' + request.uri);
        request.return(404);
        return;
    }

    ngx.fetch('http://127.0.0.1:{{ xsnippet_port|default('8000') }}/v1/snippets/' + match[1])
       .then(reply => reply.json())
       .then(body => {
           request.headersOut['Content-Type'] = "text/plain; charset=utf-8";
           request.return(200, body.content)
       })
       .catch(e => {
           request.warn(e);
           request.return(502)
       });
}

export default { get_raw_snippet };
