---

- name: Update apt cache if needed
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Install apt prerequisite packages
  ansible.builtin.apt:
    name: "{{ goaccess_apt_prerequisite_packages }}"
    state: present
  become: true

- name: Add goaccess repository
  ansible.builtin.deb822_repository:
    name: goaccess
    types:
      - deb
    uris: "{{ goaccess_apt_repo }}"
    suites: "{{ ansible_facts['distribution_release'] }}"
    components:
      - main
    signed_by: "{{ goaccess_apt_repo_gpg }}"
  become: true
  register: goaccess_repo_result

- name: Update apt cache if needed
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: goaccess_repo_result.changed

- name: Install the goaccess package
  ansible.builtin.apt:
    name: goaccess
    state: present
  become: true

- name: Create user '{{ goaccess_user }}'
  ansible.builtin.user:
    name: "{{ goaccess_user }}"
    shell: /sbin/nologin
    home: /var/lib/{{ goaccess_user }}
    groups: systemd-journal
  become: true

- name: Create target directory
  ansible.builtin.file:
    path: "{{ goaccess_report_root }}"
    mode: u=rwx,g=rx,o=rx
    owner: "{{ goaccess_user }}"
    group: "{{ goaccess_user }}"
    state: directory
  become: true

- name: Configure goaccess
  ansible.builtin.template:
    src: goaccess.conf.j2
    dest: "{{ goaccess_sysconf_path }}"
    mode: u=rw,g=r,o=r
  notify: Goaccess restart
  become: true

- name: Create goaccess systemd unit
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: /usr/lib/systemd/system/{{ item }}
    mode: u=rw,g=r,o=r
  with_items:
    - goaccess.service
    - goaccess-input.service
    - goaccess-input.socket
  become: true

- name: Start goaccess now and on every reboot
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    state: started
    daemon_reload: true
  with_items:
    - goaccess.service
    - goaccess-input.service
    - goaccess-input.socket
  become: true

- name: Configure caddy for goaccess
  ansible.builtin.template:
    src: caddy.j2
    dest: "{{ (caddy_confd_path, 'goaccess.caddy') | path_join }}"
    mode: u=rw,g=r,o=r
  notify: Caddy restart
  become: true
