RUST_BACKTRACE = 1
ROCKET_ADDRESS = {{ xsnippet_api_address }}
ROCKET_PORT = {{ xsnippet_api_port }}
ROCKET_DATABASE_URL = {{ xsnippet_api_database_url }}
ROCKET_SYNTAXES = {{ xsnippet_api_syntaxes | to_json }}
