[Unit]
Description = XSnippet API
After = network.target network-online.target
Wants = network-online.target

[Service]
WorkingDirectory = {{ xsnippet_api_root }}
EnvironmentFile = {{ xsnippet_api_systemd_env }}
User = {{ xsnippet_api_user }}
Group = {{ xsnippet_api_user }}
ExecStartPre = {{ xsnippet_api_database_upgrade_bin }}
ExecStart = {{ xsnippet_api_bin }}
Restart = on-failure

[Install]
WantedBy = multi-user.target
