upstream xsnippet_web_backend {
    server web_backend:5000;
}

{% if xsnippet_spa_https and xsnippet_spa_https_redirect %}
# redirect all HTTP requests to HTTPS
server {
    listen 80;
    server_name {{ xsnippet_spa_server_name }};

    # use a temporary redirect in case we want to tweak things (otherwise browsers
    # would cache the results of a permanent redirect)
    return 307 https://$host$request_uri;
}
{% endif %}

server {
    {% if not (xsnippet_spa_https_redirect and xsnippet_spa_https) %}
    # if redirects to HTTPS are not enforced, serve the content over HTTP as well
    listen 80;
    {% endif %}

    {% if xsnippet_spa_https %}
    listen 443 ssl;
    ssl_certificate     /etc/nginx/xsnippet_spa_ssl.cert;
    ssl_certificate_key /etc/nginx/xsnippet_spa_ssl.key;
    {% endif %}

    server_name {{ xsnippet_spa_server_name }};

    root /www/data;

    # web assets can be pretty large (>= 0.5 mb), so compress them before sending over the wire.
    # At the same time, it's probably not worth it for files smaller than 1kb. Compression ratio
    # of 5 seems to be a good balance between output size and CPU load.
    gzip on;
    gzip_comp_level 5;
    gzip_types text/plain text/css application/json application/x-javascript text/javascript application/javascript image/svg+xml;
    gzip_min_length 1024;

    location ~ ^/backend/(.*)$ {
        proxy_pass http://xsnippet_web_backend/$1;
    }

    location / {
        error_page 404 =200 /index.html;

        index index.html;
    }
}
