upstream xsnippet_web_backend {
    server web_backend:5000;
}

server {
    listen 80;

    server_name {{ xsnippet_spa_server_name }};

    root /www/data;

    # web assets can be pretty large (>= 0.5 mb), so compress them before sending over the wire.
    # At the same time, it's probably not worth it for files smaller than 1kb. Compression ratio
    # of 5 seems to be a good balance between output size and CPU load.
    gzip on;
    gzip_comp_level 5;
    gzip_types text/plain text/css application/json application/x-javascript text/javascript application/javascript image/svg+xml;
    gzip_min_length 1024;

    location ~ ^/backend/(.*)$ {
        proxy_pass http://xsnippet_web_backend/$1;
    }

    location / {
        error_page 404 =200 /index.html;

        index index.html;
    }
}
