[server]

; IP ADDRESS TO LISTEN ON
;
; By default, only localhost interface is used for listening. That's
; why no requests from outer world will be handled. If you want to
; accept any incoming request on any interface, please change that
; value to '0.0.0.0'.
host = 0.0.0.0

; PORT TO LISTEN ON
;
; In production you probably will choose a default HTTP port - '80'.
; If you want to pick any random free port, just pass '0'.
port = 8000


; ACCESS LOG FORMAT
;
; Note, that you have to use double % signs for escaping to work.
;
; %t  - datetime of the request
; %a  - remote address
; %r  - request status line
; %s  - response status code
; %b  - response size (bytes)
; %Tf - request time (seconds)
;
; nginx will set X-Real-IP header value to be equal to remote address
;
access_log_format = %%t %%{X-Real-IP}i "%%r" %%s %%b %%{User-Agent}i" %%Tf


[database]

; DATABASE CONNECTION URI
;
; Supported backends: MongoDB only
connection = mongodb://db:27017/xsnippet


[snippet]

; LIST OF ALLOWED SYNTAXES
;
; Set constraint on 'snippet.syntax' property. Each syntax should come
; on separate line. E.g:
;
;    syntaxes =
;        cpp
;        python
;        javascript
;

syntaxes =
    text
    c_cpp
    csharp
    golang
    java
    javascript
    php
    perl
    python
    ruby
    rust
    css
    html
    objectivec
    swift
    clojure
    lisp
    haskell
    scala
    scheme
    actionscript
    ada
    apache_conf
    asciidoc
    assembly_x86
    batchfile
    cobol
    coffee
    d
    dart
    diff
    dockerfile
    dot
    ejs
    elixir
    elm
    erlang
    fortran
    gitignore
    glsl
    gobstones
    graphqlschema
    groovy
    haml
    handlebars
    haxe
    hjson
    ini
    jade
    json
    jsp
    jsx
    julia
    kotlin
    latex
    less
    livescript
    lua
    makefile
    markdown
    matlab
    mel
    mysql
    nix
    nsis
    ocaml
    pascal
    pgsql
    powershell
    prolog
    protobuf
    r
    rdoc
    rst
    sass
    scad
    scss
    sh
    sjs
    smarty
    sql
    stylus
    svg
    tcl
    tex
    textile
    toml
    tsx
    twig
    typescript
    vala
    vbscript
    verilog
    vhdl
    xml
    yaml
    django


[auth]

; SECRET KEY TO BE USED FOR VALIDATION OF SIGNED TOKENS
;
; If not set, it will be generated automatically for this run of application.
; Set the value explicitly, so that it's preserved between runs.
secret =
