[server]

; IP ADDRESS TO LISTEN ON
;
; By default, only localhost interface is used for listening. That's
; why no requests from outer world will be handled. If you want to
; accept any incoming request on any interface, please change that
; value to '0.0.0.0'.
host = 0.0.0.0

; PORT TO LISTEN ON
;
; In production you probably will choose a default HTTP port - '80'.
; If you want to pick any random free port, just pass '0'.
port = 8000


; ACCESS LOG FORMAT
;
; Note, that you have to use double % signs for escaping to work.
;
; %t  - datetime of the request
; %a  - remote address
; %r  - request status line
; %s  - response status code
; %b  - response size (bytes)
; %Tf - request time (seconds)
;
; nginx will set X-Real-IP header value to be equal to remote address
;
access_log_format = %%t %%{X-Real-IP}i "%%r" %%s %%b %%{User-Agent}i" %%Tf


[database]

; DATABASE CONNECTION URI
;
; Supported backends: MongoDB only
connection = mongodb://db:27017/xsnippet


[snippet]

; LIST OF ALLOWED SYNTAXES
;
; Set constraint on 'snippet.syntax' property. Each syntax should come
; on separate line. E.g:
;
;    syntaxes =
;        cpp
;        python
;        javascript
;

syntaxes =
    Plain Text
    C
    C#
    C++
    Go
    Java
    PHP
    Perl
    Python
    Ruby
    Rust
    CSS
    HTML
    JavaScript
    Objective-C
    Swift
    Clojure
    Common Lisp
    F#
    Haskell
    Scala
    Scheme
    APL
    ASN.1
    ASP.NET
    Asterisk
    Brainfuck
    CMake
    CQL
    ClojureScript
    Closure Stylesheets (GSS)
    Cobol
    CoffeeScript
    Crystal
    Cypher
    Cython
    D
    DTD
    Dart
    Django
    Dockerfile
    Dylan
    EBNF
    ECL
    Eiffel
    Elm
    Embedded Javascript
    Embedded Ruby
    Erlang
    Esper
    FCL
    Factor
    Forth
    Fortran
    Gas
    Gherkin
    GitHub Flavored Markdown
    Groovy
    HAML
    HTTP
    HXML
    Haskell (Literate)
    Haxe
    IDL
    JSON
    JSON-LD
    JSX
    Java Server Pages
    Jinja2
    Julia
    Kotlin
    LESS
    LaTeX
    LiveScript
    Lua
    MS SQL
    MUMPS
    MariaDB SQL
    Markdown
    Mathematica
    Modelica
    MySQL
    NSIS
    NTriples
    Nginx
    OCaml
    Octave
    Oz
    PEG.js
    PGP
    PLSQL
    Pascal
    Pig
    PowerShell
    Properties files
    ProtoBuf
    Pug
    Puppet
    Q
    R
    RPM Changes
    RPM Spec
    SAS
    SCSS
    SPARQL
    SQL
    SQLite
    Sass
    Shell
    Sieve
    Slim
    Smalltalk
    Smarty
    Solr
    Soy
    Spreadsheet
    Squirrel
    Stylus
    SystemVerilog
    TOML
    TTCN
    TTCN_CFG
    Tcl
    Textile
    TiddlyWiki
    Tiki wiki
    Tornado
    Turtle
    Twig
    TypeScript
    TypeScript-JSX
    VB.NET
    VBScript
    VHDL
    Velocity
    Verilog
    Vue.js Component
    Web IDL
    XML
    XQuery
    YAML
    Yacas
    Z80
    diff
    edn
    mIRC
    mbox
    mscgen
    msgenny
    reStructuredText
    sTeX
    troff
    xu


[auth]

; SECRET KEY TO BE USED FOR VALIDATION OF SIGNED TOKENS
;
; If not set, it will be generated automatically for this run of application.
; Set the value explicitly, so that it's preserved between runs.
secret =
